// 제플린 Style guide
$black: #212121;
$beige: #d8d0b4;
$beige-two: #c7c3b3;
$cloudy-blue: #b4bbc7;
$light-grey-blue: #a8afb9;
$poop-brown: #844b00;
$white: #ffffff;
$almost-black: #04070c;
$black-20: rgba(0, 0, 0, 0.2);
$azure-0: rgba(12, 141, 255, 0);
$mid-blue: #2468a4;
$electric-blue: #0054ff;
$very-light-pink: #ededed;
$brown-grey: #7d7d7d;
$black-two: #000000;
$black-three: #222222;
$brown-grey-two: #999999;
$very-light-pink-two: #dddddd;
$dark: #1b1d21;
$charcoal-grey: #2e313e;
$cloudy-blue-two: #bbbcc8;
$very-light-pink-three: #e8e8e8;
$very-light-pink-four: #eeeeee;
$very-light-pink-five: #bbbbbb;

$NotoSansKR: "Noto Sans KR", sans-serif;
