footer.default {
  padding-top: 60px;
  .snsList {
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    li {
      list-style: none;
      padding: 0 8px;
    }
    .box {
      width: 30px;
      height: 30px;
      background-color: $white;
      opacity: 0.5;
      transition: opacity 0.3s;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .cc {
    opacity: 0.5;
    text-align: center;
    font-size: 14px;
  }
}
