.header-temp {
  border-bottom: 1px solid $black-20;
  position: absolute;
  width: 100%;
  height: 110px;
  padding: 33px;
  top: 0;
  background-color: translate;
  z-index: 9999;

  .col.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
