main.mrlArchive {
  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 100px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .title {
      font-family: $NotoSansKR;
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: -1.5px;
      text-align: center;
      color: $black-three;
      margin-bottom: 30px;
    }
    .thumbnail {
      border: solid 1px $very-light-pink-two;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .thumbnail img {
      max-width: 890px;
      height: auto;
      transform: translateY(20%);
    }
  }
}
