.timeline {
  list-style: none;
  width: 100%;
  max-width: 1800px;
  padding: 0;
  position: relative;

  &:before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 1px;
    background-color: $very-light-pink-two;
    left: 0;
    @include respond-to("md") {
      transform: translateX(-50%);
      left: 50%;
    }
  }

  > li {
    margin-bottom: 50px;
    .historyWrap {
      display: flex;
      flex-direction: column;
      .innerWrap {
        padding-left: 30px;
      }
      .content {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        padding-left: 30px;

        @include respond-to("md") {
          padding-left: 120px;
          margin-bottom: 50px;
        }
      }
      .thumbnail img {
        max-width: 100%;
        height: auto;
      }
      .date,
      .title {
        font-family: $NotoSansKR;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.8px;
        color: $black-three;
      }
      .date {
        position: relative;
        margin-bottom: 4px;
        &:before {
          content: "";
          display: block;
          width: 40px;
          height: 1px;
          background-color: $very-light-pink-two;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin-right: 20px;
          right: 100%;
          @include respond-to("md") {
            width: 150px;
          }
        }
        &:after {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color: $electric-blue;
          border-radius: 999px;
          right: 100%;
          margin-right: 20px;
        }
      }
    }
    @include respond-to("md") {
      &:nth-child(2n) {
        .innerWrap {
          padding-left: 0px;
        }
        .content {
          align-items: flex-end;
          padding-left: 0px;
          padding-right: 120px;
        }
        .date::before {
          left: 100%;
          margin-left: 20px;
        }
        .date::after {
          left: 100%;
          margin-left: 20px;
        }
        .historyWrap {
          align-items: flex-end;
          padding-right: 50%;
        }
        .innerWrap {
          padding-right: 50px;
        }
      }
      &:nth-child(2n-1) {
        .content {
          align-items: flex-start;
        }
        .historyWrap {
          padding-left: 50%;
        }
        .innerWrap {
          padding-left: 50px;
        }
      }
    }
  }
}
